<div class="row">
     <div class="span12 page-title-container">
		<%= link_to image_tag("services.jpg", alt: "boiler"), '#' %>
               <div class="inner-page-title fixed">
                    <h2>Services</h2>
               </div>
         </div>
    </div>
<hr/>
<div class="row">
     <div class="span12"><!-- start 3 categories -->
                            <ul class="thumbnails">
                                <li class="span4">
                                    <div class="service-box">
                                        <div class="caption">
                                            <a href="service_detail.html"><h4>Boiler installs / Service</h4></a>
                                            <p>
Our Gas Safe plumbers specialise in rapid central heating installation and boiler replacement. We can repair, replace or upgrade your existing heating  and also supply and install a new boiler, system or combination. Replacing an old, inefficient boiler  could significantly cut CO2 emissions from your home and save you money.
                                            </p>
                                        </div>
					<%= link_to image_tag("boiler.jpg", alt: "boiler"), '#' %>
                                    </div>
                                </li>       
                                <li class="span4">
                                    <div class="service-box">
                                        <div class="caption">
                                            <a href="service_detail.html"><h4>Bathroom fitting</h4></a>
                                            <p>
                                             We have an excellent reputation for luxury bathroom design and bathroom installation. We offer a full bathroom design service and can assist with every aspect of your bathroom. We are also highly skilled in the installation of underfloor heating, towel rails, bathroom suites and showers.
                                            </p>
                                        </div>
					<%= link_to image_tag("bathroom.jpg", alt: "bathroom"), '#' %>

                                    </div>
                                </li>       
                                <li class="span4">
                                    <div class="service-box">
                                        <div class="caption">
                                            <a href="service_detail.html"><h4>Gas Fires</h4></a>
                                            <p>
We make installing a gas fire stress free. We have decades of experience, have a thorough understanding of fireplace building regulations and are Gas Safe registered. We will help pick your new fire and transport it to your home,  all you need to do is choose.
                                            </p>
                                        </div>
					<%= link_to image_tag("gasfire.jpg", alt: "gasfire"), '#' %>

                                    </div>
                                </li>  
                             </ul>
      </div>
     <div class="span12"><!-- start 3 categories -->
                            <ul class="thumbnails">
                                <li class="span4">
                                    <div class="service-box">
                                        <div class="caption">
                                            <a href="service_detail.html"><h4>Underfloor Heating</h4></a>
                                            <p>
Underfloor heating provides the warmth to a room from the floor up, rather than heating the ceiling space first. It also uses lower temperature water because the larger heating surface does not need to emit as much heat per square metre as a radiator. This means the condensing boiler consumes less fuel, which in turn means lower running costs and less environmental damage.
                                            </p>
                                        </div>
					<%= link_to image_tag("underfloor.jpg", alt: "heating"), '#' %>

                                    </div>
                                </li>       
                                <li class="span4">
                                    <div class="service-box">
                                        <div class="caption">
                                            <a href="service_detail.html"><h4>Central Heating</h4></a>
                                            <p>
                                            Our team of Gas Safe registered plumbers and central heating installers are highly experienced with the                                                                  installation of all types of boiler including: gas boilers, combination boilers, condensing boilers                                                                     supplied by all the major manufacturers.
                                            </p>
                                        </div>
					<%= link_to image_tag("radiator.jpg", alt: "heating"), '#' %>
                                    </div>
                                </li>       
                                <li class="span4">
                                    <div class="service-box">
                                        <div class="caption">
                                            <a href="service_detail.html"><h4>Wetrooms</h4></a>
                                            <p>
Wetrooms can  be designed to be totally 'open plan' without glass shower panels which greatly simplifies the cleaning process and creates a minimalist, contemporary style.Wetrooms provide easy access for disabled family members or the elderly and young as the lack of edges, lips or shower trays means that the risk of falling is minimised.
                                            </p>
                                        </div>
					<%= link_to image_tag("wetroom.jpg", alt: "wetroom"), '#' %>

                                    </div>
                                </li>  
                            </ul>
                        </div><!-- end categories -->
                    </div>
