         <div class="row">

                <div class="span3">
                    <h2>Our location</h2>
                    <h3>Address:</h3>
                    <p>18 Mayfield Road<br />Whitby<br />North Yorkshire<br />YO211LX</p>	
                    <div style="width:200px;height:200px"><iframe width="200" height="200" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.uk/maps?q=whitby+uk&amp;ie=UTF8&amp;hq=&amp;hnear=Whitby,+North+Yorkshire,+United+Kingdom&amp;gl=uk&amp;t=m&amp;ll=54.486295,-0.613346&amp;spn=0.019944,0.034504&amp;z=13&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.co.uk/maps?q=whitby+uk&amp;ie=UTF8&amp;hq=&amp;hnear=Whitby,+North+Yorkshire,+United+Kingdom&amp;gl=uk&amp;t=m&amp;ll=54.486295,-0.613346&amp;spn=0.019944,0.034504&amp;z=13&amp;iwloc=A&amp;source=embed" style="color:#0000FF;text-align:left">View Larger Map</a></small>
                    </td><td align="right"><small></small></td></tr></table></div><br /><br />
                    <h3>Telephone:</h3>
                    <p>Tel:01947 602375<br />Mob: 07870582024</p>	
                </div>
                <div class="span9">
                    <div class="page-header">
                        <h1>Contact Us</h1>
                    </div>

                    <% flash.each do |name, message| %>
                      <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
                      <a class="close" data-dismiss="alert">x</a>
                        <%= message  %>
                      </div>
                   <% end %>


                    <!-- Headings & Paragraph Copy -->
		   <p><h5>For advice or to arrange a service, repair or quote. Please call Trevor or drop us an email using the contact form below.</h5></p><br />

		   <div class="row">
                     <div class="span6">
                        <fieldset>
                          <%= simple_form_for @message, :html => {:class => "form-horizontal"}, :url => contact_path do |form| %>
                          <%= form.input :name, :label => 'First Name: ', :placeholder => 'Your first name.', :input_html => {:class => "span6"}  %>
                          <%= form.input :email, :label => 'Email address: ', :placeholder => 'your email address.', :input_html => {:class => "span6"} %>
                          <%= form.input :body , :label => 'Enquiry: ', :as => :text, :placeholder => 'What you would like to contact us about.', :input_html => {:cols => 50, :rows =>5, :class => 'input-xlarge-focused span6 '} %>
                          </br>
                          <%= form.button :submit, :label => 'Send Enquiry',  :class =>  "btn btn-primary pull-right"  %>
                          <% end %>
                        </fieldset>
                      </div>
                    </div><!-- /row -->
                </div>
`
