  <footer>
                <hr/>
                <div class="row">
                    <div class="span3">
                        <h4>&COPY; 2012 T A Freeman</h4><br/>

                        All right are reserved.<br/>
                        <a href="#">Terms of Service</a> | <a href="#">Privacy Policy</a>
                    </div>
                    <div class="span3">
                        <h4>Contact Info</h4>
                        <br />
                        <p>
                            T A Freeman.<br/>
                            Plumbing and Heating Engineers<br/>
                            18 Mayfield Road<br/>
                            Whitby<br/>
                            North Yorkskhire<br/>
                            YO21 1LX <br/>
                            Tel: 01947 602375
                        </p>
                    </div>

                    <div class="span3">
                        <h4>Quick Navigation</h4>
                        <br/>
                        <ul>
                            <li><%= link_to "Home", root_path %></li>
                            <li><%= link_to "About", about_path %></li>
                            <li><%= link_to "Services", services_path %></li>
                            <li><%= link_to "Products", products_path %></li>
                            <li><%= link_to "Portfolio", portfolio_path %></li>
                            <li><%= link_to "Contact Us", contact_path %></li>
                        </ul>
                    </div>
                    <div class="span3">
                        <h4>Connect with us</h4>
                        <br/>
                        <%= link_to image_tag("twitter.png", alt: "twitter"), 'http://www.twitter.com/@whitbyplumber' %>
                        <a href="http://twitter.com/@whitbyplumber">Twitter</a>
                        <br/><br />
                        <%= link_to image_tag("facebook.png", alt: "facebook"), 'http://www.facebook.com/pages/TA-freeman-plumbing-and-heating-engineers/407354076015352' %>
                        <a href="http://www.facebook.com/pages/TA-freeman-plumbing-and-heating-engineers/407354076015352">Facebook</a>
                    </div>

                </div>
  </footer>

