<div class="row">
                <div class="span12">
                    <div id="myCarousel" class="carousel slide">
                        <div class="carousel-inner">
                            <div class="item">
				<%= link_to image_tag("1.jpg", alt: "Fireplace"), 'http://rubyonrails.org/' %>
                                <img alt="" src="1.jpg" />
                                <div class="carousel-caption">
                                    <h4>Heating installations</h4>
                                    <p>Boiler and Central heating fitting. Underfloor heating
                                        . </p>
                                </div>

                            </div>
                            <div class="item active">
				<%= link_to image_tag("2.jpg", alt: "Fireplace"), 'http://rubyonrails.org/' %>
                                <div class="carousel-caption">
                                    <h4>Fire installs </h4>
                                    <p> Specializing in Gas fireplaces. Gas safe registered fitters. </p>
                                        </p>
                                </div>
                            </div>

                            <div class="item">
				<%= link_to image_tag("3.jpg", alt: "Fireplace"), 'http://rubyonrails.org/' %>
                                <div class="carousel-caption">
                                    <h4>Plumbing and Gas fitting</h4>
                                    <p> Bathrooms, Wetrooms. We give the complete service from start to finish. </p>
                                </div>
                            </div>

                            <div class="item">
				<%= link_to image_tag("4.png", alt: "Fireplace"), 'http://rubyonrails.org/' %>
                                <div class="carousel-caption">
                                    <h4>Bathroom Plumbing</h4>
                                    <p> Bathroom design,planning,fit. Total solution. </p>
                                </div>
                            </div>

                            <div class="item">
				<%= link_to image_tag("5.jpg", alt: "Fireplace"), 'http://rubyonrails.org/' %>
                                <div class="carousel-caption">
                                    <h4>Central Heating - by experts</h4>
                                    <p> Central Heating design and fitting. Over 20 years experience. </p>
                                </div>
                            </div>
                        </div>

                        <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
                        <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
                    </div>
                </div>
            </div>
