<div class="row">
                <div class="span12">
                    <div id="myCarousel" class="carousel slide">
                        <div class="carousel-inner">
                            <div class="item">
				<%= link_to image_tag("1.jpg", alt: "Fireplace"), '#' %>
                                <img alt="Gas fireplace installer" src="1.jpg" />
                                <div class="carousel-caption">
                                    <h4>Heating installations</h4>
                                    <p>Boiler and Central heating fitting. Underfloor heating. </p>
                                </div>

                            </div>

                            <div class="item active">
				<%= link_to image_tag("3.jpg", alt: "Heating Engineer"), '#' %>
                                <div class="carousel-caption">
                                    <h4>Plumbing and Gas fitting</h4>
                                    <p> Bathrooms, Wetrooms. We give the complete service from start to finish. </p>
                                </div>
                            </div>

                            <div class="item">
				<%= link_to image_tag("2.jpg", alt: "Bathroom"), '#' %>
                                <div class="carousel-caption">
                                    <h4>Fire installs </h4>
                                    <p>Gas fireplaces. Gas safe registered fitters. </p>
                                        </p>
                                </div>
                            </div>

                            <div class="item">
				<%= link_to image_tag("4.png", alt: "Plumber"), '#' %>
                                <div class="carousel-caption">
                                    <h4>Bathroom Plumbing</h4>
                                    <p> Bathroom design,planning,fit. Total solution. </p>
                                </div>
                            </div>

                            <div class="item">
				<%= link_to image_tag("5.jpg", alt: "Heating"), '#' %>
                                <div class="carousel-caption">
                                    <h4>Central Heating - by experts</h4>
                                    <p> Central Heating design and fitting. Over 20 years experience. </p>
                                </div>
                            </div>
                        </div>
                        <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
                        <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
                    </div>
                </div>
            </div>
<div class="row">
                <div class="span3">
                    <h3>What We Do</h3>
                    <p>
                        We are plumbing and heating engineers -  Serving Whitby and local area. 

                        Our aim is to give you the total service from the design stage  to planning and installation.

                        We can also repair service your existing gas appliances and advise on upgrades. &nbsp; <%= link_to "More.", services_path %>
                    </p>
                </div>
                <div class="span9">
                    <div class="row">
                        <div class="span9">
                            <h3>Services</h3> 
                           <%= link_to "View all our services", services_path, class: "pull-right" %>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="span9">
                            <ul class="thumbnails">
                                <li class="span3">
                                     <div class="service-box">
                                        <div class="caption">
                                            <a href="service_detail.html"><h4>Wet Rooms</h4></a>
                                            <p>
                                               Expert wetroom installations. 
                                            </p>
                                        </div>
                                        <%= link_to image_tag("wetroom.jpg", alt: "wetroom"), '#' %>

                                    </div>
                                </li>       
                                <li class="span3">
                                 <div class="service-box">
                                        <div class="caption">
                                            <a href="service_detail.html"><h4>Bathroom fitting</h4></a>
                                            <p>
                                               Full bathroom design plan and fit service. 
                                            </p>
                                        </div>
                                        <%= link_to image_tag("bathroom.jpg", alt: "bathroom"), '#' %>
                                    </div>
                                </li>       
                                <li class="span3">
                                   <div class="service-box">
                                        <div class="caption">
                                            <a href="service_detail.html"><h4>Boiler installs / Service</h4></a>
                                            <p>
                                               Boiler and Central heating installations. 
                                            </p>
                                        </div>
                                        <%= link_to image_tag("boiler.jpg", alt: "boiler"), '#' %>
                                    </div>


                                </li>        

                            </ul>
                        </div>
                    </div>

                </div>
                <div class="span12">
                </div>
            </div>
<div class="row">
                <div class="span3">
                    <h3>About Us</h3>
                    <p>
                        Established over 20 years ago TA Freeman has being serving the Whitby Area for many areas.  
                        Corgi registered and Gas Safe registered engineers.

                    </p>
                    <p>
                        Installation,Service and Repairs.
                        &nbsp;<a href="about.html">more detail</a>
                    </p>
                </div>
                <div class="span9">
                    <div class="row">
                        <div class="span3">
                                    <blockquote>
                                        <p>What we've been working on.</p>
                                    </blockquote>
                            <ul id="news-box"> 
                                <li class="first"> 
                                    <a href="portfolio.html">Install of 14 Wetrooms at Peregrine House</a> <br> 
                                    <span>Oct 2012</span> 
                                </li> 
                                <li> <a href="portfolio.html">Hadleys Accommodation</a> <br> 
                                    <span>Jan 2013 </span> 
                                </li> 

                            </ul>
                        </div>
                        <div class="span6">

                            <div class="row">
                                <div class="span6">
                                    <blockquote>
                                        <p>"Execellent service from Start to Finish, Thoroughly recommended"</p>
                                        <small> JD Roach Builders - Peregrine House. Oct 2012</small>
                                    </blockquote>

                                    <blockquote>
                                        <p>"Brilliant work"</p>
                                        <small>Hadleys Accommodation. Dec 2012</small>
                                    </blockquote>
                                </div>
                            </div>
                            <div class="row">
                                <div class="span6">
                                    <h3>Just some of the products we use.</h3><br>
                                    <ul class="thumbnails">
                                        <li class="span2">
                                            <div class="service-box">
						<%= link_to image_tag("baxi.jpg", alt: "baxi" ), 'http://www.baxi.co.uk/about/products.htm'%>
                                            </div>
                                        </li>
                                        <li class="span2">
                                            <div class="service-box">
                                               <%= link_to image_tag("gazco.jpg", alt: "gazco"), 'http://www.stovax.com/' %> 
                                            </div>
                                        </li>
                                        <li class="span2">
                                            <div class="service-box">
                                                <%= link_to image_tag("vaillant.jpg", alt: "valliant"), 'http://www.vaillant.co.uk/homeowner' %>
                                            </div>
                                        </li>        

                                    </ul>
                                </div>
                            </div>


                        </div>
                    </div>

                </div>

            </div>
