<h3>Recent work we have completed</h3>
<div class="row">
                <div class="span12 page-title-container">
                     <%= link_to image_tag("4.png", alt: "Bathroom design picture"), '#' %>

                     <div class="inner-page-title fixed">
                            <br/>
                            <br/>
                            <br/>
                        <h2>Portfolio</h2>
                        <p>Here is the detail on some of our work.</p>
                    </div>
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="span3">

                </div>

                <div class="span9">

                    <div class="row">
                        <div class="span3">
                           <%= link_to image_tag("moonbath.png", alt: "Moon and sixpence bathroom"), '#' %>
                        </div>
                        <div class="span3">
                           <%= link_to image_tag("moonshower.png", alt: "Moon and sixpence bathroom"), '#' %>
                        </div>
                        <div class="span3">
                            <a href="http://www.moon-and-sixpence.co.uk"><h4>The Moon and Sixpence</h4></a>
                            <p>
                               Design supply and fit of accomadation bathrooms for the renowned seafront bar and brasserie in Whitby.  
                            </p>
                        </div>
                        <div class="span9">
                            <br/>
                            <blockquote>
                              <p>
                                 &quot I'd reccommend Trevor without  hesitation. He did an excellent job for us.&quot - Dave Ellis - Moon and Sixpence - Whitby.
                              </p>
                           </blockquote>
                        </div>	 
                    </div>
                    <hr>

                    <div class="row">
                        <div class="span3">
                           <%= link_to image_tag("peregrine-house.jpg", alt: "peregrinehouse plumbing"), {:class => '.img-rounded'} %>
                           <%= link_to image_tag("nhbc.png", alt: "national homebuilders"), {:class => '.img-rounded'} %>
                           <%= link_to image_tag("fmb.png", alt: "Federation Master Builders"), {:class => '.img-rounded'} %>
                        </div>
                        <div class="span6">
                            <a href="http://peregrinehouse.com"><h4>Peregine House</h4></a>
                            <p>
                                In association with JD Roach Builders - Fitting of wetrooms and underfloor heating for 14 rooms in the Pereginehouse residential care home.
                            </p>
                            <blockquote>
                              <p>
                                 TA Freeman and JD Roach builders - Peregine House - Whitby. Oct 2012
                              </p>
                           </blockquote>
                            <br/>
                        </div>	 
                    </div>
                    <hr>
                    <div class="row">
                        <div class="span3">
                            <a href="http://www.hadleysfishrestaurant.com"><h4>Hadleys Delux Accommodation - Whitby</h4></a>
                            <p>
                                Fitting of on-suite and heating systems for 5 rooms in Hadleys delux holiday accommodation in Whitby. - Jan 2013 
                            </p>
                            <br/>
                        </div>	 
                        <div class="span3">
                           <%= link_to image_tag("hadleys1.png", alt: "Hadleys Whitby"), {:class => '.img-rounded'} %>
                        </div>
                        <div class="span3">
                           <%= link_to image_tag("hadleys2.png", alt: "Hadleys Whitby"), {:class => '.img-rounded'} %>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="span9">
                            <a href="http://www.the-marine-hotel.co.uk/"><h4>The Marine Hotel - Whitby</h4></a>
                            <p>
                                Fitting of on-suite and heating systems for 4 rooms in the Marine Bar - Hotel Whitby.
                            </p>
                            <br/>
                        </div>	 
                    </div>
                        <div class="span3">
                           <%= link_to image_tag("marine1.png", alt: "Whitbyplumbing Marine Whitby"), {:class => '.img-rounded'} %>
                        </div>
                        <div class="span3">
                           <%= link_to image_tag("marine3.png", alt: "Marine Whitbyi ~whitby Plumbing"), {:class => '.img-rounded'} %>
                        </div>
                    </div>
                </div>
