
<div class="row">
  <div class="span12"> 
    <h4>We install and service products from all major brands, including the manufactures shown below.</h4>
 </div>
</div>

<div class="row">
  <div class="span12"> 
  <br>
 </div>
</div>

<div class="row">
        <div class="span4">
         <%= link_to image_tag("baxi.jpg", alt: "baxi" ), 'http://www.baxi.co.uk/about/products.htm'%>
        </div><!-- /.span4 -->

        <div class="span4">
        <%= link_to image_tag("bosch.jpg", alt: "bosch"), 'http://www.woreester-bosch.co.uk/homeowner' %>
        </div class="span4">
        <div>
          <%= link_to image_tag("vaillant.jpg", alt: "valliant"), 'http://www.vaillant.co.uk/homeowner' %>
        </div><!-- /.span4 -->
</div>

<div class="row">
        <div class="span3">
          <%= link_to image_tag("idealstandard.png", alt: "idealstandard"), 'http://www.idealstandard.co.uk/' %>
        </div><!-- /.span3-->
        <div class="span3">
          <%= link_to image_tag("gazco.jpg", alt: "gazco"), 'http://www.stovax.com/' %>
        </div><!-- /.span3 -->
        <div class="span3">
          <%= link_to image_tag("uponor.png", alt: "uponor"), 'http://www.uponor.co.uk/' %>
        </div><!-- /.span3 -->
        <div class="span3">
          <%= link_to image_tag("idealboilers.jpg", alt: "idealboilers"), 'http://www.idealheating.com/' %>
        </div><!-- /.span3 -->
</div>

