<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="description" content=" plumbing and gas engineer in Whitby - whitbyplumber for gas in Whitby"/>
    <meta name="keywords" content="gas engineer in whitby, boilers in whitby, gas fires in whitby, commercial gas in North Yorkshire, boiler breakdowns in North Yorkshire, boiler service in North Yorkshire, landlord certificates in North Yorkshire, gas safe in North Yorkshire, corgi in North Yorkshire, plumbers in North Yorkshire, gas engineer in whitby, gas in whitby, plumber in whitby, boilers in whitby, gas fires in whitby, commercial gas in whitby, boiler breakdowns in whitby, boiler service in whitby, landlord certificates in whitby, gas safe in whitby, corgi in whitby, plumbers in whitby, lpg in whitby, caravans in whitby, caravan safety check whitby, lpg gas whitby, pointing whitby, motorhomes whitby, vaillant whitby, combi boiler whitby,  britishgas whitby, epc whitby, boilers whitby, servicing whitby, boiler service whitby, gas service whitby, plumber whitby, landlord certificate whitby, landlord certificate North Yorkshire, lpg whitby, lpg North Yorkshire, gas safe North Yorkshire, calor whitby, commercial gas whitby, commercial gas North Yorkshire, commercial catering whitby, gas certs whitby, gas certs North Yorkshire, fish and chips whitby, boiler scrappage, combi boiler specialist whitby, oil whitby"/>
    <meta name="author" content="Whitbyplumbing tafreeman whitbygas Gas"/>
    <meta name="geo.placename" content="Whitby, YO21 1LX"/>
    <meta name="geo.region" content="GB"/>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <div class="container main">
      <%= render 'layouts/header' %>
      <div class="container">

        <%= yield %>

     </div>
    <%= render 'layouts/footer' %>
    <script type="text/javascript">
            $(document).ready(function(){
                $('.carousel').carousel({
                    interval: 6000
                })
            });
     </script> 
    </div>
</body>
</html>
